# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.vs
*.user
bin
platforms
/platforms/**
/platforms/ios/**
/platforms/ios/www**
/platforms/ios/www/view/Campaign.view.xml
/platforms/ios/www/controller/Campaign.controller.js
/platforms/ios/www/controller/BaseController.js
/platforms/ios/www/Component.js
