 .googleLoginBtn{
    background: #4CAF50;
}

 .sapMLIB {
    background: white;
    color: #465892;
}

.AppIcon {
    font-size: 120px;
};

.appTitle {
    color: #4CAF50;
    font-family: fantasy;
}
